<!-- DETECCIÓN EN IMAGEN -->
<div class="card p-3 mb-4">
  <h3>Detectar en imagen</h3>
  <input type="file" class="form-control mb-2" (change)="onFileSelectedDetect($event)">
  <button class="btn btn-success mt-2" (click)="detectarImagen()">Detectar Imagen</button>

  <div *ngIf="detectedIndividuos.length > 0" class="mt-3">
    <h5>Individuos detectados:</h5>
    <ul>
      <li *ngFor="let ind of detectedIndividuos">
        {{ind.nombre}} {{ind.apellido1}} {{ind.apellido2}}
      </li>
    </ul>
  </div>

  <div *ngIf="detectedImageUrl" class="mt-3">
    <h5>Imagen detectada:</h5>
    <img [src]="detectedImageUrl" class="img-fluid border rounded imagen-detectada" />
  </div>

  <div *ngIf="objetosImagen.length > 0" class="mt-3">
    <h5>Objetos detectados en la imagen:</h5>
    <ul>
      <li *ngFor="let obj of objetosImagen">{{ obj.label }}</li>
    </ul>
  </div>
</div>

<!-- DETECCIÓN EN VÍDEO -->
<div class="card p-3 mb-4">
  <h3>Detectar en vídeo</h3>
  <input type="file" class="form-control mb-2" accept="video/*" (change)="onFileSelectedVideo($event)">
  <button class="btn btn-primary mt-2" (click)="detectarVideo()">Detectar Vídeo</button>

  <div *ngIf="individuosVideo.length > 0" class="mt-3">
    <h5>Individuos detectados en el vídeo:</h5>

    <div *ngFor="let ind of individuosVideo" class="card p-2 mb-3 individuo">
      <strong>Individuo:</strong> {{ind.nombre}} {{ind.apellido1}} {{ind.apellido2}}

      <!-- Frames -->
      <div class="mt-2" *ngIf="ind.frames && ind.frames.length > 0">
        <div *ngFor="let f of ind.frames" class="me-2 mb-2 d-inline-block">
          <img [src]="f.frame_path" alt="frame" width="400" height="230" class="rounded border">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="objetosVideo.length > 0" class="mt-3">
    <h5>Objetos detectados en el vídeo:</h5>
    <ul>
      <li *ngFor="let obj of objetosVideo">{{ obj.label }}</li>
    </ul>
  </div>
</div>
